In [2]:
import pandas as pd
import numpy as np

In [3]:
sc_st_sections = pd.read_csv('SC_ST_sections.csv')
poa_offenses = pd.read_csv('POA_offenses.csv')
set_ipc_secctions = set(sc_st_sections.IPC.tolist())

In [14]:
sc_st_sections.head()

    num    raw_no  sec  sub_sec clause  IPC  clean_further  other
0  9940         3  3.0      1.0    NaN  NaN            NaN    NaN
1  5033         1  3.0      1.0    NaN  NaN            NaN    NaN
2  3427    3(1)10  3.0      1.0     10  NaN            NaN    NaN
3  2962  3(1)(10)  3.0      1.0     10  NaN            NaN    NaN
4  2642     3(1)X  3.0      1.0     10  NaN            NaN    NaN

In [15]:
# poa_offenses

In [13]:
def clean_act_name(name):
    name = name.lower()
    name = name.replace('(', ',')
    name = name.replace(')', ',')
    for ipc_section in

',,bva,,,df,a,fvv'